{% extends "base.html" %}
{% block content %}
<h2>Driftslogg</h2>
{% if entries %}
    {% if request.GET.who %}
        <a href="/">Vis alle</a>
    {% endif %}
    <table>
        <thead>
            <th>Hvem</th> 
            <th>Når</th> 
            <th>Hva</th> 
        </thead>
    {%for entry in entries.object_list %}
        <tr>
            <td>{% if request.GET.who != entry.user %}
                    <a href="?who={{ entry.user }}">{{ entry.user }}</a>
                {% else %}
                    {{ entry.user }}
                {%endif%}</td>
            <td>{{ entry.created|timesince }}</td>
            <td>{{ entry.text|urlize }}</td>
        </tr>
    {%endfor%}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if entries.has_previous %}
                {% if request.GET.who %}
                    <a href="?page={{ entries.previous_page_number }}&who={{ request.GET.who }}">Forrige</a>
                {% else %}
                    <a href="?page={{ entries.previous_page_number }}">Forrige</a>
                {% endif %}
            {% endif %}

            <span class="current">
                Side {{ entries.number }} av {{ entries.paginator.num_pages }}.
            </span>

            {% if entries.has_next %}
                {% if request.GET.who %}
                    <a href="?page={{ entries.next_page_number }}&who={{ request.GET.who }}">Forrige</a>
                {% else %}
                    <a href="?page={{ entries.next_page_number }}">Forrige</a>
                {% endif %}
            {% endif %}
        </span>
    </div>
{% else %}
Ingenting i loggen.
{%endif%}
<div id="admin">
    <p>
        <a href="/admin">Oops, jeg skrev noe feil...</a>
    </p>
</div>
{% if entries.number = 1 %}
<div id="stats">
        <div id="container" style="width: 800px; height: 400px; margin: 0 auto;"></div> 
</div>
{% endif %}
{% endblock %}
