{% extends "base.html" %}
{% block content %}
{% if entries %}
    <table>
        <thead>
            <th>Hvem</th> 
            <th>Når</th> 
            <th>Hva</th> 
        </thead>
    {%for entry in entries.object_list %}
        <tr>
            <td>{{ entry.user }}</td>
            <td>{{ entry.created|timesince }}</td>
            <td>{{ entry.text }}</td>
        </tr>
    {%endfor%}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if entries.has_previous %}
                <a href="?page={{ entries.previous_page_number }}">Forrige</a>
            {% endif %}

            <span class="current">
                Side {{ entries.number }} av {{ entries.paginator.num_pages }}.
            </span>

            {% if entries.has_next %}
                <a href="?page={{ entries.next_page_number }}">Neste</a>
            {% endif %}
        </span>
    </div>
{%endif%}
<div id="admin">
    <p>
        <a href="/admin">Oops, jeg skrev feil...</a>
    </p>
</div>
{% endblock %}
